<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logoaplicacionsoundstore"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logoaplicacionsoundstore"
        android:supportsRtl="true"
        android:theme="@style/Theme.SoundStore"
        tools:targetApi="31">
        <activity
            android:name=".ComprarInstrumento"
            android:exported="false" />
        <activity
            android:name=".ArticulosExtra"
            android:exported="false" />
        <activity
            android:name=".ListaInstrumento"
            android:exported="false" />
        <activity
            android:name=".SolicitudMantenimiento"
            android:exported="false" />
        <activity
            android:name=".Instrumentos"
            android:exported="false" />
        <activity
            android:name=".DetallesCompras"
            android:exported="false" />
        <activity
            android:name=".Registrate"
            android:exported="false" />
        <activity
            android:name=".MisMantenimientos"
            android:exported="false" />
        <activity
            android:name=".Mantenimiento"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>